<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties" />

<!--    <bean id="musicBean1"-->
<!--          class="com.example.newspringcourse.ioc.lesson1.models.ClassicalMusic">-->
<!--    </bean>-->

<!--    <bean id = "musicRockBean"-->
<!--          class="com.example.newspringcourse.ioc.lesson1.models.RockMusic">-->
<!--    </bean>-->

<!--    <bean id = "musicRemixBean"-->
<!--          class="com.example.newspringcourse.ioc.lesson1.models.RemixMusic">-->
<!--    </bean>-->

<!--    Бины к уроку IOC-->




    <bean id="musicClassicBean" class="com.example.newspringcourse.di.models.ClassicalMusic">
    </bean>

    <bean id="musicRockBean" class="com.example.newspringcourse.di.models.RockMusic">
    </bean>

    <bean id="musicRemixBean" class="com.example.newspringcourse.di.models.RemixMusic">
    </bean>

<!--    <bean id="musicPlayer" class="com.example.newspringcourse.di.models.MusicPlayer">-->
<!--        <constructor-arg ref="musicBean" />-->
<!--    </bean>-->
<!--    6. Внедрение зависимостей. Dependency Injection (DI). Введение.-->

<!--    <bean id="musicPlayer" class="com.example.newspringcourse.di.models.MusicPlayer">-->
<!--       <property name="musicList" ref="musicClassicBean" />-->

<!--        <property name ="name" value ="${musicPlayer.name}"/>-->
<!--        <property name ="volume" value ="${musicPlayer.volume}"/>-->

<!--    </bean>-->
<!--    7. Внедрение зависимостей. Dependency Injection (DI). ЧЕРЕЗ SETTER Часть 2.-->


    <bean id="musicPlayer" class="com.example.newspringcourse.di.models.MusicPlayer">
        <property name="musicList">
            <list>
                <ref bean="musicClassicBean"/>
                <ref bean="musicRemixBean"/>
                <ref bean="musicRockBean"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>



    
</beans>